.container {
  width: 100%;
  max-width: 1920px;
}

.register__t {
  font-size: var(--font-size-2xl);
  color: var(--color-text);
  font-weight: var(--font-weight-black);
}

.register__p {
  color: var(--color-text-muted);
  margin: 0.5rem 0rem 2rem;
}
