.container {
  width: 100%;
  max-width: 1920px;
}

.register__t {
  font-size: var(--font32);
  color: var(--very-dark-blue);
  font-weight: var(--fontWeight900);
}

.register__p {
  color: var(--grey);
  margin: 0.5rem 0rem 2rem;
}
