.information__container {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.2rem;
}

.title {
  color: var(--grey);
  white-space: nowrap;
}

.information {
  color: var(--very-dark-blue);
  font-weight: var(--fontWeight500);
}

.emphasis {
  color: var(--green);
  word-break: break-all;
}

.in__status__card {
  flex-direction: row;
  gap: 0.5rem;
}

.in__status__card__information {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
