.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.overlay {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.card__container {
  position: absolute;
  padding: 1rem;
}

.card__content {
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 600px;
  display: grid;
  place-items: center;
  text-align: center;
}

.icon {
  background-color: var(--light-red);
  line-height: 0;
  border-radius: 100%;
  padding: 1rem;
}

.card__content h2 {
  color: var(--very-dark-blue);
  margin-top: 2rem;
}

.card__content p {
  margin: 0.5rem 0rem 1rem;
  color: var(--grey);
}

.buttons__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: var(--light-grey);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  min-width: 135px;
  font-weight: var(--fontWeight700);
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
}

.confirm__btn {
  background-color: var(--red);
  color: var(--white);
}
