.register__t {
  width: 100%;
  text-align: start;
  font-size: var(--font40);
  color: var(--very-dark-blue);
}

.register__p {
  width: 100%;
  text-align: start;
  color: var(--grey);
  margin: 0.5rem 0rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input,
.form select,
.form textarea {
  border: 1px solid var(--light-grey);
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  width: 100%;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--blue);
}

.form textarea {
  resize: none;
  min-height: 200px;
}

.form button {
  width: max-content;
  padding: 0.81rem 2rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.form button:hover {
  background-color: var(--light-blue);
}

.form button:active {
  transform: scale(0.92);
}

.form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  width: max-content;
  color: var(--red);
}
