.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1920px;
}

.dashboard__title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard__title {
  color: var(--very-dark-blue);
  font-weight: var(--fontWeight900);
  font-size: var(--font32);
}

.dashboard__add__item {
  width: 100%;
  max-width: 200px;
}

.dashboard__infos {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard__tables__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.recent__items__container,
.running__out__items__container {
  width: 100%;
}

.title__table__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.title__table__container > h3 {
  color: var(--very-dark-blue);
  font-size: var(--font20);
}

.all__items {
  color: var(--blue);
  font-weight: var(--fontWeight600);
  cursor: pointer;
}

.report {
  color: var(--blue);
  font-weight: var(--fontWeight600);
  cursor: pointer;
}

@media (max-width: 1060px) {
  .dashboard__tables__container {
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .title__table__container {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}

@media (max-width: 495px) {
  .add__item {
    display: none;
  }
}

@media (max-width: 435px) {
  .title__table__container > h3 {
    font-size: var(--font16);
  }
}
