.section {
  width: 100%;
  max-width: 1920px;
}

.main__t {
  margin-bottom: 2rem;
  color: var(--very-dark-blue);
  font-size: var(--font40);
}

.container {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
}

.details__container {
  padding: 2rem;
  background-color: var(--white);
  /* Tamanho dos botões de ações e o padding dele */
  width: calc(100% - 350px - 1rem);
  /* Tamanho dos botões de ações e o padding dele */
  border-radius: 1rem 0rem 0rem 1rem;
}

.item__img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  max-height: 930px;
  object-fit: cover;
  object-position: center;
}

.details__container__t {
  font-size: var(--font32);
  color: var(--very-dark-blue);
}

.line {
  background-color: var(--light-grey);
  height: 1px;
  margin: 1rem 0rem 2rem;
}

.infomation__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 500px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description__t {
  font-size: var(--font24);
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

.description__p {
  color: var(--grey);
  line-height: 1.5rem;
  word-wrap: break-word; /* compatibilidade antiga */
  overflow-wrap: break-word; /* padrão moderno */
  white-space: normal; /* garante quebra de linha normal */
}

.actions__panel {
  width: 100%;
  max-width: 350px;
  padding: 1rem;
}

.actions__panel__t {
  font-size: var(--font20);
  font-weight: var(--fontWeight500);
  margin-bottom: 1.5rem;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--font16);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
}
.action:active {
  transform: scale(0.92);
}

.update {
  background-color: var(--blue);
}

.update:hover {
  background-color: var(--light-blue);
}

.delete {
  background-color: var(--red);
}

.delete:hover {
  background-color: var(--light-red);
}

.action__container,
.metadata__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1815px) {
  .container {
    flex-direction: column;
  }

  .details__container {
    width: 100%;
    border-radius: 0rem 1rem;
  }

  .actions__panel {
    max-width: unset;
  }
}
