.container {
  width: 100%;
  max-width: 1920px;
}

.main__t {
  width: 100%;
  margin-bottom: 2rem;
  color: var(--very-dark-blue);
  font-size: var(--font40);
}

.item__container {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
}

.details__container {
  padding: 2rem;
  background-color: var(--white);
  /* Tamanho dos botões de ações e o padding dele */
  width: calc(100% - 350px - 1rem);
  border-radius: 1rem 0rem 0rem 1rem;
}

.item__img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  max-height: 930px;
  object-fit: cover;
  object-position: center;
}

.general__information__container__t {
  font-size: var(--font32);
  color: var(--very-dark-blue);
}

.line {
  background-color: var(--light-grey);
  height: 1px;
  margin: 1rem 0rem 2rem;
}

.actions__panel {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
}

@media (max-width: 1815px) {
  .item__container {
    flex-direction: column;
  }

  .details__container {
    width: 100%;
    border-radius: 0rem 1rem;
  }

  .actions__panel {
    max-width: unset;
  }
}

@media (max-width: 455px) {
  .details__container {
    padding: 1rem;
  }

  .main__t {
    font-size: var(--font32);
  }
  .general__information__container__t {
    font-size: var(--font24);
  }
}
