.icon__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  cursor: pointer;
  color: var(--grey);
  transition: 0.2s ease;
}

.icon__modal {
  position: absolute;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--grey);
  transform: translateY(-100%);
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: 0.2s ease;
}

.icon:hover + .icon__modal,
.icon:focus + .icon__modal,
.icon__modal:hover {
  opacity: 1;
  visibility: visible;
}

.icon:hover {
  transform: scale(1.1);
}

.icon__trash {
  color: var(--red);
}
