.icon__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  cursor: pointer;
  color: var(--grey);
  transition: 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.icon__trash {
  color: var(--red);
}
