.description__t {
  font-size: var(--font-size-xl);
  color: var(--color-text);
  margin-bottom: 1rem;
}

.description__p {
  color: var(--color-text-muted);
  line-height: 1.5rem;
  word-wrap: break-word; /* compatibilidade antiga */
  overflow-wrap: break-word; /* padrão moderno */
  white-space: normal; /* garante quebra de linha normal */
}
