.add__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  gap: 0.5rem;
  padding: 0.81rem 2rem;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  font-size: var(--font-size-xs);
  width: 100%;
  white-space: nowrap;
}

.add__item:hover {
  background-color: var(--color-primary-light);
}

.add__item:active {
  transform: scale(0.92);
}
