.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 1.5rem 1rem;
    border: 1px solid var(--very-light-grey);
}

.header__content {
    width: 100%;
    max-width: var(--container-lg);
    display: flex;
    align-items: center;
}

.header__logo__container {
    margin-right: 2rem;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.header__nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
}

.header__nav__option {
    text-decoration: none;
    color: var(--very-dark-blue);
    position: relative;
    transition: .2s ease;
}

.header__nav__option::before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    bottom: -.1rem;
    transition: .2s ease;
}

.header__nav__option:hover::before {
    width: 100%;
}

.header__login {
    margin-left: auto;
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
    padding: .375rem 0rem;
    border-radius: .5rem;
    transition: .2s ease;
    width: 137px;
    text-align: center;
}

.header__login:hover {
    background-color: var(--light-blue);
}

.hamburger {
    display: none;
}

@media(max-width:720px) {
    .header {
        position: fixed;
        justify-content: space-between;
        padding: 1rem;
        z-index: 5;
    }

    .header__content {
        justify-content: space-between;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;

        background-color: var(--white);
        flex-direction: column;

        max-width: 350px;
        min-height: 100dvh;
        align-items: start;
        padding: 5rem 1rem;

        transform: translateX(100%);
        transition: transform .7s cubic-bezier(0.4, 0, 0.2, 1);
        transform-origin: right;
    }

    .header__logo__container {
        margin-right: 0;
    }

    .header__nav>ul {
        align-items: start;
        flex-direction: column;
    }

    .header__login {
        margin-left: 0;
    }

    .hamburger {
        cursor: pointer;
        z-index: 6;
        display: unset;
        height: 36px;
        width: 36px;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: var(--very-dark-blue);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .lineTopBottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .lineTopBottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }

    .menuOpenAnimation {
        transform: translateX(0);
    }

    .overlay {
        background-color: var(--black);
        width: 100%;
        min-height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        opacity: 0;
        transition: .5s ease;
        visibility: hidden;
    }

    .overlay__open {
        opacity: .6;
        visibility: visible;
    }
}