.home {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-height: calc(100dvh - 70px);
    background-color: var(--white);
}

.home__content {
    width: 100%;
    max-width: var(--container-lg);
}

.home__slug {
    width: max-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--very-light-blue);
    border: 1px solid var(--blue);
    color: var(--blue);
    padding: .6rem 1rem;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

.home__slug__dot {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 100%;
    animation: dotAnimation .7s ease alternate infinite;
}

@keyframes dotAnimation {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.home__content>h1 {
    width: 100%;
    max-width: 700px;
    font-size: var(--font80);
    color: var(--very-dark-blue);
    line-height: 1em;
}

.home__content>h1>strong {
    color: var(--blue);
    font-weight: var(--fontWeight700);
}

.home__content>p {
    margin: 1rem 0rem 2rem;
    max-width: 700px;
    color: var(--grey);
    font-size: var(--font20);
    line-height: 1.75rem;
}

.home__buttons__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home__manage__stock__button,
.home__view__plans__button {
    padding: 1rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home__manage__stock__button:active,
.home__view__plans__button:active {
    transform: scale(.92);
}

.home__manage__stock__button {
    background-color: var(--blue);
    color: var(--white);
}

.home__view__plans__button {
    color: var(--very-dark-blue);
    border: 1px solid var(--light-grey);
}

.home__manage__stock__button:hover {
    background-color: var(--light-blue);
}

.home__view__plans__button:hover {
    border: 1px solid var(--grey);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    padding: 3rem 1rem;
}

main>h2 {
    font-size: var(--font36);
    color: var(--very-dark-blue);
    text-align: center;
}

main>p {
    color: var(--grey);
    margin: 1rem 0rem 2rem;
    text-align: center;
}

.cards__container {
    width: 100%;
    max-width: var(--container-lg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.subscriptions {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--off-white);
}

.subscriptions>h4 {
    text-align: center;
    font-size: var(--font36);
    font-weight: var(--fontWeight700);
}

.subscriptions__paragraph {
    text-align: center;
    color: var(--grey);
    margin: .5rem 0rem 3rem;
}

.subscriptions>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: var(--container-lg);
    gap: 1.5em;
}

.subscriptions__contact {
    color: var(--grey);
    margin: 3rem 0rem;
    text-align: center;
}

.subscriptions__contact__link {
    color: var(--blue);
    text-decoration: none;
}

.footer {
    background-color: var(--very-dark-blue);
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 4rem 1rem;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--container-lg);
    flex-direction: column;
}

.footer__content__nav {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
}

.footer__content__nav__logo {
    max-width: 250px;
}

.footer__content__nav__logo>p {
    margin-top: 1rem;
    color: var(--light-grey);
    font-size: var(--font14);
}

.line {
    width: 100%;
    height: .09rem;
    background-color: var(--grey);
    margin: 3rem 0rem;
    opacity: .4;
}

.footer__content__copy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer__content__copy>p {
    color: var(--light-grey);
}

.footer__content__copy>div {
    display: flex;
    gap: 1.5rem;
}

.footer__content__copy>div>a {
    color: var(--light-grey);
    text-decoration: none;
    opacity: .7;
}

@media (max-width: 1280px) {
    .cards__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscriptions>div {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media(max-width: 740px) {
    .home__content>h1 {
        font-size: var(--font36);
    }

    .home__content>p {
        font-size: var(--font16)
    }

    .footer__content__nav {
        flex-direction: column;
        gap: 3rem;
    }

    .footer__content__nav__logo {
        max-width: unset;
    }

    .footer__content__copy {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
}

@media (max-width: 560px) {
    .cards__container {
        grid-template-columns: 1fr;
    }
}

@media(max-width:425px) {
    .home__buttons__container {
        flex-direction: column;
    }

    .home__manage__stock__button,
    .home__view__plans__button {
        width: 100%;
    }

    main>h2 {
        font-size: var(--font24);
    }

    .subscriptions>h4 {
        font-size: var(--font24);
    }

    .footer__content__copy {
        font-size: var(--font12);
    }
}