.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-height: calc(100dvh - 70px);
    background-color: var(--white);
}

.home h1 {
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: var(--font40);
    color: var(--very-dark-blue);
}

.home p {
    margin: 2rem 0rem 1rem;
    max-width: 700px;
    color: var(--grey);
}

.home button {
    background-color: var(--blue);
    color: var(--white);
    padding: .9rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s ease;
}

.home button:hover {
    background-color: var(--light-blue);
}

.home button:active {
    transform: scale(.92);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    padding: 3rem 1rem;
}

main>h2 {
    font-size: var(--font32);
    color: var(--very-dark-blue);
    text-align: center;
}

main>p {
    color: var(--grey);
    margin: 1rem 0rem 2rem;
    text-align: center;
}

.cards__container {
    width: 100%;
    max-width: var(--global-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.subscriptions {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subscriptions>h3 {
    text-align: center;
    font-size: var(--font32);
    font-weight: var(--fontWeight700);
}

.subscriptions>p {
    text-align: center;
    color: var(--grey);
    margin: .5rem 0rem 3rem;
}

.subscriptions>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: var(--global-width);
    gap: 1.5em;
}

@media (max-width: 1280px) {
    .cards__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscriptions>div {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 560px) {
    .cards__container {
        grid-template-columns: 1fr;
    }
}