.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    font-weight: var(--fontWeight600);
    color: var(--very-dark-blue);
}

.logo div {
    background-color: var(--blue);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.logo img {
    width: 50%;
    height: 50%;
}