.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    font-weight: var(--fontWeight600);
    color: var(--very-dark-blue);
    /* font-size: var(--font20); */
}

.logo div {
    background-color: var(--blue);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.logo img {
    width: 15px;
    height: 15px;
}