.container {
  background-color: var(--white);
  border-radius: 0.5rem;
  border: 1px solid var(--light-grey);
  min-height: 565px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin-top: 2rem;
}

.table {
  width: 100%;
  background-color: var(--white);
  border-collapse: collapse;
  overflow: auto;
}

.table th {
  text-align: start;
  padding: 1rem;
  background-color: var(--very-light-grey);
  text-transform: uppercase;
  font-size: var(--font12);
  font-weight: var(--fontWeight400);
  letter-spacing: 0.1rem;
  color: var(--grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  padding: 1rem;
  border-bottom: 1px solid var(--very-light-grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons__container {
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.pagination {
  padding: 5rem 1rem 2rem;
  margin-top: auto;
}
