.footer__content__info>h3 {
    color: var(--color-white);
    font-size: var(--font-size-lg);
    margin-bottom: 1rem;
}

.footer__content__info>ul {
    list-style: none;
}

.footer__content__info>ul>li:not(:first-child) {
    margin-top: 1rem;
}

.footer__content__info>ul>li>a {
    color: var(--color-border);
    text-decoration: none;
    font-size: var(--font-size-sm);
}