.container {
  width: 100%;
  overflow: scroll;
}

.table {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
}

.table__header {
  text-align: start;
  background-color: var(--very-light-grey);
}

.table__header th {
  padding: 1rem;
  white-space: nowrap;
}

.table__header__name {
  font-size: var(--font12);
  text-transform: uppercase;
  font-weight: 400;
}

.table__row__container {
  text-align: center;
  border-bottom: 1px solid var(--light-grey);
}

.table__row__container:last-child {
  border-bottom: none;
}

.table td {
  text-align: start;
  max-width: 245px;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0.6rem;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fontWeight600);
  border-radius: 0.2rem;
  width: 30px;
  height: 30px;
  position: absolute;
}

.bad {
  background-color: var(--light-orange);
  color: var(--orange);
}

.very__bad {
  background-color: var(--light-red);
  color: var(--red);
}
