/* .infomation__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 500px;
} */

.infomation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}
