.register__container {
    min-height: 100dvh;
}

.register__container,
.register__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register__content {
    background-color: var(--white);
    border-radius: .7rem;
    padding: 3rem 1rem;
    width: 100%;
    max-width: 450px;
}

.register__content h1 {
    font-size: var(--font24);
    color: var(--very-dark-blue);
    margin: 1rem 0rem 1rem;
}

.register__content p {
    font-size: var(--font16);
    color: var(--grey);
}

.register__content form {
    margin-top: 2rem;
}

.register__content__form {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register__content__form>label {
    color: var(--very-dark-blue);
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.register__content__form>label>input {
    border: 1px solid var(--light-grey);
    padding: .75rem;
    border-radius: .5rem;
    width: 100%;
}

.register__content__form input:focus {
    outline: none;
    border: 1px solid var(--blue);
}

.register__content__form button {
    width: 100%;
    padding: .75rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--font16);
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s ease;
}

.register__content__form button:hover {
    background-color: var(--light-blue);
}

.register__content__form__divider {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .5rem 0rem;
}

.register__content__form__divider hr {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
}

.register__content__form__divider span {
    white-space: nowrap;
    color: var(--grey);
}

.register__content__form__login {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: .75rem;
    border-radius: .5rem;
    transition: .2s ease;
    border: 1px solid var(--light-grey);
    color: var(--very-dark-blue);
}

.register__content__form__login:hover {
    border: 1px solid var(--grey);
}