.card {
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--very-light-grey);
    padding: 2rem 1rem;
    border-radius: .5rem;
}

.card div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.card h3 {
    margin: 1rem 0rem;
    color: var(--very-dark-blue);
    font-size: var(--font24);
}

.card p {
    color: var(--grey);
    line-height: 1.75rem;
}

@media(max-width:420px) {
    .card h3 {
        font-size: var(--font20);
    }
}