.card {
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-bg);
    padding: 2rem 1rem;
    border-radius: .5rem;
}

.card div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.card h3 {
    margin: 1rem 0rem;
    color: var(--color-text);
    font-size: var(--font-size-xl);
}

.card p {
    color: var(--color-text-muted);
    line-height: 1.75rem;
}

@media(max-width:420px) {
    .card h3 {
        font-size: var(--font-size-lg);
    }
}