.dashboard__infos {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.dashboard__tables__container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}
