.nav__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  cursor: pointer;
  font-size: var(--font16);
  background-color: transparent;
  width: 100%;
  color: var(--grey);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease;
  font-weight: var(--fontWeight500);
  position: relative;
  z-index: 2;
}

.nav__item:hover {
  background-color: var(--very-light-blue);
}

.active {
  transition: .5s ease;
  color: var(--blue);
  background-color: var(--very-light-blue);
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  line-height: 0;
}