.nav__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  cursor: pointer;
  font-size: var(--font-size-md);
  background-color: transparent;
  width: 100%;
  color: var(--color-text-muted);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease;
  font-weight: var(--font-weight-medium);
  z-index: 2;
}

.nav__item:hover {
  background-color: var(--color-primary-subtle);
}

.active {
  transition: .5s ease;
  color: var(--color-primary);
  background-color: var(--color-primary-subtle);
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  line-height: 0;
}