.table__container {
  width: 100%;
}

.table {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
}

.table__header {
  text-align: start;
  background-color: var(--very-light-grey);
}

.table__header th {
  text-align: start;
  padding: 1rem;
}

.table__header__name {
  font-size: var(--font12);
  text-transform: uppercase;
  font-weight: 400;
}

.table__row__container {
  text-align: start;
  border-bottom: 1px solid var(--light-grey);
}

.table__row__container:last-child {
  border-bottom: none;
}

.table__row__container td {
  padding: 1rem;
  max-width: 245px;
  white-space: nowrap; /* 2. Impede o texto de pular para a linha de baixo */
  overflow: hidden; /* 3. Esconde o que sobrar para fora da caixa */
  text-overflow: ellipsis; /* A MÁGICA: Adiciona os "..." no final */
}

.table__row__item {
  color: var(--grey);
}
