.container {
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid var(--light-grey);
  min-height: 565px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  background-color: var(--white);
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table th {
  height: 50px;
  background-color: var(--very-light-grey);
}

.table td {
  height: 60px;
  border-bottom: 1px solid var(--very-light-grey);
}

.table thead th {
  text-transform: uppercase;
  font-size: var(--font12);
  font-weight: var(--fontWeight400);
  letter-spacing: 0.1rem;
  color: var(--grey);
}

.icons__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.pagination {
  padding: 5rem 1rem 1rem;
  margin-top: auto;
}
