.container {
  width: 100%;
  max-width: 1920px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.line {
  margin: 1rem 0rem 2rem;
  height: 1px;
  background-color: var(--light-grey);
}

.title {
  color: var(--very-dark-blue);
  font-size: var(--font32);
  font-weight: var(--fontWeight900);
}

.header__add__item {
  max-width: 200px;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: start;
  }
}
