@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

@theme {
  /* ─── Layout ─── */
  --max-width-container: 1440px;

  /* ─── Typography — Family ─── */
  --font-primary: "Inter", sans-serif;

  /* ─── Colors (Mapeia para bg-*, text-*, border-*) ─── */
  --color-text-main: #00011a;
  --color-white: #ffffff;
  --color-off-white: #f0f2f8;
  --color-bg: #f3f3f3;
  --color-border: #8b95a5;
  --color-muted: #374151;
  --color-light-gray: #e8e8e8;
  --color-black: #000000;

  /* ─── Brand ─── */
  --color-primary: #1a38db;
  --color-primary-light: #5977ff;
  --color-primary-subtle: #c7d2ff;

  /* ─── Status ─── */
  --color-success-subtle: #b8ffb5;
  --color-success-light: #70ff6b;
  --color-success: #00b300;

  --color-warning-subtle: #ffd1b8;
  --color-warning-light: #ff7f47;
  --color-warning: #e62200;

  --color-danger-subtle: #ffb8b8;
  --color-danger-light: #ff5252;
  --color-danger: #cc0000;

  /* ─── Accents ─── */
  --color-purple-subtle: #e8b8ff;
  --color-purple-light: #a847ff;
  --color-purple: #7300cc;

  --color-teal-subtle: #a8f5eb;
  --color-teal-light: #3db8ab;
  --color-teal: #0d9488;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-md);
  background-color: var(--color-bg);
}