@import url("./reset.css");
@import url("./variables.css");

body {
  font-size: var(--font16);
  background-color: var(--very-light-grey);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100dvh;
  padding: 1rem;
  margin-left: 70px;
}
