.subscriptions__card {
    background-color: var(--color-white);
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
}

.subscriptions__card h3 {
    font-size: var(--font-size-xl);
    color: var(--color-text);
}

.subscriptions__card p {
    color: var(--color-text-muted);
    margin: .5rem 0rem 1rem;
}

.subscriptions__card>strong {
    font-size: var(--font-size-2xl);
    color: var(--color-text);
}

.subscriptions__card>strong>span {
    color: var(--color-text-muted);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-md);
}

.subscriptions__card>ul {
    list-style: none;
    margin: 1rem 0rem 2rem;
}

.subscriptions__card>ul>li {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color-text-muted);
}

.subscriptions__card>ul>li:not(:first-child) {
    margin-top: .5rem;
}

.subscriptions__card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--color-primary);
    margin-top: auto;
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: .5rem;
    text-decoration: none;
    transition: .2s ease;
    height: 54px;
}

.subscriptions__card__button:hover {
    background-color: var(--color-primary-light);
}

.subscriptions__card__button:active {
    transform: scale(.97);
}

/* Popular */
/* Popular */
/* Popular */
.subscriptions__card__popular {
    background-color: var(--color-text);
    position: relative;
}

.subscriptions__card__popular>h3 {
    color: var(--color-white);
}

.subscriptions__card__popular>p {
    color: var(--color-border);
}

.subscriptions__card__popular>strong {
    color: var(--color-white);
}

.subscriptions__card__popular>strong>span {
    color: var(--color-border);
}

.subscriptions__card__popular>ul>li {
    color: var(--color-border);
}

.subscriptions__card__popular>.subscriptions__card__button {
    color: var(--color-text);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
}

.subscriptions__card__popular>.subscriptions__card__button:hover {
    color: var(--color-white);
    background-color: transparent;
}

.subscriptions__card__popular__tag {
    position: absolute;
    left: 0;
    top: -.6rem;
    text-align: center;
    width: 100%;
}

.subscriptions__card__popular__tag>span {
    background-color: var(--color-primary);
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: var(--color-white);
}

/* Popular */
/* Popular */
/* Popular */

.subscriptions__card__enterprise>.subscriptions__card__button {
    color: var(--color-white);
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
}

.subscriptions__card__enterprise>.subscriptions__card__button:hover {
    color: var(--color-text);
    background-color: transparent;
}

@media(max-width:420px) {
    .subscriptions__card h4 {
        font-size: var(--font-size-lg);
    }

    .subscriptions__card>ul>li {
        font-size: var(--font-size-sm);
    }

    .subscriptions__card strong {
        font-size: var(--font-size-xl);
    }
}