.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100dvh;
  padding: 1rem;
  margin-left: 70px;
}